/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.container{
  padding-top: 10px;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.list-group-item:hover{ 
    background-color: #fafafa;
}

#taskItem{
  padding-left: 0px;
}

#button1{
  padding: 6px;
  background-color: white;
  border-color:  #bfd898;
  border-width: 1px;
  border-radius: 2px;
  vertical-align: middle;
}

#button2{
  padding: 6px;
  background-color: white;
  border-color: #ce5f5f;
  border-width: 1px;
  border-radius: 2px;
  vertical-align: middle;
  box-shadow: 10px;

}
#button3{
  padding: 6px;
  border-color: #bfd898;
  background-color: white;
  border-width: 1px;
  border-radius: 2px;

}

#checkbox{
  border-width: 2px;
  

}


.button3{
  padding-left: 0px;
  padding-bottom: 5px;
  padding-top: 0px;

}

.input-group-addon{
  vertical-align: text-center;
}

#listGroup1{
  color: #7e7e7e;
  text-indent: 2px;
}

.progress{
  margin-bottom: 16px;
  margin-top: 3px;

}
#button4{
   padding: 6px;
  border-color: #ce5f5f;
  background-color: white;
  border-width: 1px;
  border-radius: 2px;
  vertical-align: middle;

}

#todoTasks{
  padding-left: 15px;
  padding-right: 15px;
}

#subGroup{
  margin-right: 14px;
  width: 100%;
  padding-right: 10px;
}

#allTasks{
  width: 100%;

}

#inputBox1{
  margin-left: 4%;
  width: 90%;
  text-indent: 5px;

}
#inputBox2{
  margin-left: 4%;
  width: 85%;
  text-indent: 5px;
}

